<!DOCTYPE html>
<html lang="en">
<head>
  <title>Angular JS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 
</head>
<body >

<div ng-app="myApp" class="container-fluid ">

    <div class="row">

        <!-- expressions -->
        <div class="col-8 small my-2">
            <div class="card p-3 mb-2">
                <h4 class="fw-bold">1. Intro</h4>
                <li>JS Framework that helps to build web application.</li>
                <li>Suitable for Single Page Application </li>
                <li>Extends html attribute with directives and bind data with expression</li>
            </div>

            <div class="card p-3 mb-2">
                <h4 class="fw-bold">2. Expression</h4>

                    <li>Written inside double brace. <mark>{{expression}}</mark></li>
                    <li class="mb-2">Written also inside directive. <mark>ng-bind="expression"</mark></li>
                    <div ng-init="color='blue'">
                        <input type="text" style="background:{{color}}" ng-model="color">
                    </div>

<h6 class="mb-1">String</h6>
<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="" ng-init="myCol='lightblue'">
<input style="color:{{myCol}}" ng-model="myCol">
</div></xmp>

<h6 class="mb-1">Number</h6>
<div ng-init="qty=5;cost=5;">
    expression: <span>{{qty * cost}}</span> &nbsp; Bind: <span ng-bind="qty * cost"></span>
</div>
<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="" ng-init="quantity=1;cost=5">
<p>{{ quantity * cost }}</p>
<p><span ng-bind="quantity * cost"></span></p>
</div></xmp>

<h6 class="mb-1">Object</h6>
<div ng-init="person={fn:'surendar', ln:'issac'}">
    Expression: <span>{{person.fn}}</span> &nbsp; Bind: <span ng-bind="person.ln"></span>
</div>
<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
<p>{{ person.lastName }}</p>
<p><span ng-bind="person.lastName"></span></p>
</div></xmp>


<h6 class="mb-1">Array</h6>
<div ng-init="points=[1,2,3,4,5]">
    Expression: <span>{{points[0]}}</span>&nbsp; 
    Bind: <span ng-bind="points[1]"></span>
</div>

<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="" ng-init="points=[1,15,19,2,40]">
<p>{{ points[2] }}</p>
<p><span ng-bind="points[2]"></span></p>
</div></xmp>

            </div>

            <div class="card p-3 mb-2">
                <h4 class="fw-bold">3. Modules</h4>

                    <li>Module defines an application.</li>
                    <li class="mb-2">Module is a container for the different parts of an application.</li>


                    <h6 class="mb-1">Controller</h6>


<div ng-controller="joinCtrl">
    {{firstName+" "+lastName}}
    <b>Bind : </b> <span ng-bind="firstName"></span> <span ng-bind="lastName"></span>
</div>                   

<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="myApp" ng-controller="myCtrl">
{{ firstName + " " + lastName }}
</div>

<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script></xmp>


<h6 class="mb-1">Directives</h6>
<div test-directive></div>
<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="myApp" w3-test-directive></div>

<script>
var app = angular.module("myApp", []);
app.directive("w3TestDirective", function() {
    return {
        template : "I was made in a directive constructor!"
    };
});
</script></xmp>


<h6 class="mb-1">Repeat Array</h6>
<div ng-init="names=['surendar', 'issac']">
    <ul>
        <li ng-repeat="i in names">{{ i }}</li>
        <li ng-repeat="i in names"><span ng-bind="i"></span></li>
    </ul>
</div>

<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="myApp" ng-init="names=['surendar', 'issac', 'karthick']">
    <li ng-repeat="x in names">{{}}</li>
    <li ng-repeat="x in names"><span ng-bind="x"></span></li>
</div>
</xmp>


<div ng-init="names=[{name:'surendar', age: 12}, {name:'issac', age: 18}]">
    <li ng-repeat="x in names">{{x.name+x.age}}</li>
</div>
<xmp class="small text-white bg-dark px-3 py-2 rounded my-1"><div ng-app="myApp" ng-init="names=[
        {name:'surendar', age: 12},
        {name:'issac', age: 16}
    ]">
    <ul>
        <li ng-repeat="x in names">{{x.name+" "+x.age}}</li>
        <li ng-bind="x in names"><span ng-bind="x.name"></span> <span ng-bind="x.age"></span></li>
    </ul>
</div>
</xmp>



            </div>
        </div>

        <!-- modules -->
        <div class="col-4 my-2 directives">
            <div class="card p-3">
                <h4 class="fw-bold">Directives</h4>
                <li><mark>ng-app</mark> Intialize as an application.</li>
                <li><mark>ng-init</mark> Intialize data.</li>
                <li><mark>ng-bind</mark> Bind the input value to data.</li>
                <li><mark>ng-repeat</mark> Repeat the html element. (foreach)</li>
            </div>
        </div>


    </div>




<script>
    var myapp = angular.module("myApp", [])
    myapp.controller("joinCtrl", function($scope){
        $scope.firstName = "Surendar"
        $scope.lastName = "Issac"
    })
    myapp.directive("testDirective", function(){
        return {
            template: 'I was made in a directive constructor!'
        }
    })
</script>
<style>
    .directives li {
        margin-bottom: .8rem;
    }
    .directives li mark{
        color: red;
        background: #ececec;
        border-radius: 4px;
        padding: 0px 6px 4px;

    }
</style>
</div>
</body>
</html>
